* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #111;
    color: #fff;
}

/* HEADER */
header {
    background: #000;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: crimson;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

nav a:hover {
    color: crimson;
}

/* HERO */
.hero {
    background: linear-gradient(to right, #000, #300);
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    font-size: 50px;
    color: crimson;
}

.hero p {
    font-size: 20px;
}

/* SECTIONS */
.section {
    padding: 50px;
    text-align: center;
}

.dark {
    background: #1a1a1a;
}

.section h2 {
    margin-bottom: 20px;
    color: crimson;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #222;
    padding: 20px;
    width: 220px;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/* SEASONS */
ul {
    list-style: none;
}

ul li {
    padding: 10px;
}

/* GALLERY */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background: #000;
    padding: 15px;
    text-align: center;
    font-size: 14px;
}
